extends base/layout.pug

block content
    main
        section(class='info')
            h2(class='info__title')= title
            span(class='info__rated')= rated
            p(class='info__plot')= plot
            div(class='info__meta')
                p Realease Date: #{released}
                p Runtime: #{runtime}
                p Genre: #{genre}
                p Director: #{director}
                p Writer: #{writer}
        section(class='info')
            h2(class='info__title') Some Ratings
            each r in ratings
                p #{r.Source}: #{r.Value}
        if user
            include includes/review-form.pug
        each review in reviews
            section(class='review')
                if review.worthSeeing
                    span(class='review__worth') Worth Seeing
                if review.worthCinema
                    span(class='review__worth') Worth Seeing at a Cinema
                if review.worthOwning
                    span(class='review__worth') Worth Owning
                p(class='review__comment')= review.comment
        else
            section(class='review')
                p Sorry, no one has reviewed this film yet